@charset "UTF-8";

/* css reset 清除樣式 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 固定盒模型模式 */
*, *:before, *:after {
	box-sizing: border-box;
}

/* 除錯模式 */
/* *{
    outline: 1px solid black;
} */

.wrap {
	max-width: 800px;
	margin: auto;
	padding: 0 10px;
}

.formStyle {
	margin: 50px 0;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

h1 {
	font-size: 2em;
	text-align: center;
	margin: 30px 0;
}

p {
	margin: 10px 0;
}

.required {
	color: red;
	font-size: 20px;
	padding-right: 3px;
}

.word {
	font-size: 20px;
	font-weight: bold;
}

.sex label[for="male"], .sex label[for="female"], .sex label[for="hide"]
	{
	width: 68px;
	text-align: left;
	margin: 10px 0;
}

.address .address-style .item {
	margin: 10px 0;
}

.address .address-style input[id="addressDetail"] {
	width: 50%;
}

.address select, .educational select {
	height: 38px;
}

textarea {
	width: 50%;
	height: 200px;
	resize: none;
	overflow: hidden;
}

@media ( max-width : 480px) {
	.address .address-style input[id="addressDetail"] {
		width: 100%;
	}
	textarea {
		width: 100%;
	}
}

.checkboxStyle input {
	margin-right: 10px;
}

.checkboxStyle input[id="policy"] {
	margin-right: 16px;
}

.checkboxStyle input[id="info"] {
	margin-right: 29px;
}

.checkboxStyle .privacyLink {
	text-decoration: none;
	color: blue;
}

.checkboxStyle .privacyLink:hover {
	color: darkblue;
}

.buttonStyle {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.tableStyle {
	width: 100%;
}

.tableStyle th, .tableStyle td {
	padding: 10px;
	text-align: left;
	border: 1px solid rgb(224, 224, 224);
}

.message-box {
	text-align: center;
	padding: 100px;
}

.message-box h1 {
	color: #2c3e50;
	margin-bottom: 20px;
}

.message-box p {
	color: #666;
	font-size: 20px;
}
